.cache
.docker
.npm
.nvm
.local
.ssh
.bash_history
.viminfo
tmp
debs
ims-debs

free5gc-images.tar
*.bak
*.swp
*.swo

backup_
backup_free5gc

.codex
.gemini
.opencode

free5gc-compose/
gtp5g-v0.9.5/free5gc-images-v4.2.1.tar
