#!KAMAILIO
# Kamailio IMS P-CSCF/I-CSCF/S-CSCF Configuration

####### Global Parameters #########

debug=2
log_stderror=no
memdbg=5
memlog=5

log_facility=LOG_LOCAL0

fork=yes
children=4

auto_aliases=no

alias= ims.free5gc.org
alias=10.100.200.0

listen=udp:10.100.200.1:5060
listen=tcp:10.100.200.1:5060

mpath=\/usr/lib/x86_64-linux-gnu/kamailio/modules/

####### Modules Section #########

loadmodule \tm.so\ 
loadmodule \sl.so\ 
loadmodule \rr.so\ 
loadmodule \maxfwd.so\ 
loadmodule \usrloc.so\ 
loadmodule \registrar.so\ 
loadmodule \textops.so\ 
loadmodule \siputils.so\ 
loadmodule \db_mysql.so\ 
loadmodule \avpops.so\ 
loadmodule \auth.so\ 
loadmodule \auth_db.so\ 
loadmodule \pv.so\ 
loadmodule \dialog.so\ 
loadmodule \ims_usrloc_pcscf.so\ 
loadmodule \ims_usrloc_scscf.so\ 
loadmodule \ims_registrar_pcscf.so\ 
loadmodule \ims_registrar_scscf.so\ 
loadmodule \ims_auth.so\ 
loadmodule \ims_isc.so\ 
loadmodule \cdp.so\ 
loadmodule \cdp_avp.so\ 
loadmodule \sqlops.so\ 
loadmodule \htable.so\ 
loadmodule \xlog.so\ 
loadmodule \nathelper.so\ 

####### Routing Logic ########

# Main SIP request routing logic
request_route {
    if (!mf_process_maxfwd_header(\10\)) {
        send_reply(483,\Too Many Hops\);
        exit;
    }

    if (msg:len >= 2048 ) {
        send_reply(513,\Message too big\);
        exit;
    }

    # Handle REGISTER
    if (is_method(\REGISTER\)) {
        route(REGISTER);
        exit;
    }

    # Handle INVITE for voice calls
    if (is_method(\INVITE\)) {
        route(INVITE);
        exit;
    }

    # Handle other requests
    route(RELAY);
}

route[REGISTER] {
    xlog(\L_INFO\, \IMS REGISTER received from \n\);
    
    if (!pcscf_save(\location\)) {
        send_reply(503,\Service Unavailable\);
        exit;
    }
    
    send_reply(200,\OK\);
}

route[INVITE] {
    xlog(\L_INFO\, \IMS INVITE received from to \n\);
    
    # Route to S-CSCF
    if (is_myself()) {
        if (!lookup(\location\)) {
            send_reply(404,\Not Found\);
            exit;
        }
    }
    
    route(RELAY);
}

route[RELAY] {
    if (!t_relay()) {
        sl_reply_error();
    }
    exit;
}
